<header>
    <div class="mini-navbar-wrap">
        <img src="/assets/realEstateimage.JPG"/>
        <div class="logo-wrap">
            <p class="logo"><span class="logo">Find the dream home here!</span></p>
        </div>
        <div class="mini-navbar">
            <ul>
                <li>
                    <a routerLink="/auth/login">Login</a>
                </li>
                <li>
                    <a routerLink="/auth/register">Register</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a >profile</a>
                </li>
                <li>
                    <a>Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/themes">Themes</a>
            </li>
            <li>
                <a routerLink="/add-theme">New Theme</a>
            </li>
        </ul>
    </nav>
</header>